body{
    font-family: 'Raleway', sans-serif;
}
.height{
    
    min-height: 100vh;
}
.title-underline{
    width: 200px;
    height: 5px;
    margin: 0 auto;
    /*background: blue!important;*/ /* if u want to overwrite previous color */
}
.height-80{
    
    min-height: 100vh;
    min-width: 100vh;
}
.about-picture{
    background: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}